{% extends 'base.html.twig' %}

{% block title %}Nouvelle tâche{% endblock %}

{% block body %}
    <h2 class="text-center">Nouvelle tâche au project "{{project.name}}"</h2>
    <div class="container">
        {{form(taskForm)}}
    </div>

{% endblock %}