{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h2 class="text-center">Nouveau projet</h2>
    <div class="container">
        {{form(projectForm)}}
    </div>

{% endblock %}